#bump-back {
    perspective: 1000px;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    padding: 20px 0;

    /* border: 1px solid green; */
}

.game-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.playback {
    top: 10px;
    left: 10px;

    display: grid;
    /* gap: 10px; */
    grid-template: 1fr 1fr / 1fr;

    font-variant: small-caps;
}

.who-rolled {
    column-span: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid yellow; */
}

.game-menu {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;

    display: grid;
    gap: 10px;
    grid-template: repeat(1, 1fr) / 1fr;

    font-size: 1.3rem;
    font-variant: small-caps;
    
    /* border: 1px solid yellow; */
}

.active-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.order .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.po-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.po {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}