.game-menu {
    display: grid;
    gap: 10px;
    grid-template: repeat(3, 1fr) / 1fr;

    font-size: 2rem;
    font-variant: small-caps;
    
    /* border: 1px solid yellow; */
}

.active-player {
    display: flex;
    justify-content: center;
    align-items: center;
}